*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
a{
  text-decoration: none
}
.contenaire{
  display:flex;
  justify-content: space-around;  
  flex-direction: row;
  flex-wrap:wrap;
}

.carte{
  width: 400px;
  border-radius:5px;
  background: #f6f6f6;
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

.carte h1{
  padding:15px;
}

.carte p{
  padding:0px 10px;
}
.carte img{
  max-width: 100%;
  height:auto;
  border-radius: 5px;
}

.btn{
  margin-top: 40px;
  padding-bottom: 20px;
  
}

.btn_bt{
  padding: 12px 20px;
  background-color: #26f;
  border-radius: 5px;
  color: white;
}


.carte2{
  border-radius: 5Px;
  overflow: hidden;
}

.carte2 img{
  transition: all 1.4s ease;
}

.carte2:hover img{
  transform: scale(1.5);
}

/* @media (min-width: 600px) {
  .contenaire {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .contenaire {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) {
  .carte {
    height: 350px;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .carte:after {
    transform: translateY(0);
  }

  .contenaire {
    transform: translateY(calc(100% - 4.5rem));
  }
  .contenaire > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .carte:hover,
.carte:focus-within {
    align-items: center;
  }
  .carte:hover:before,
.carte:focus-within:before {
    transform: translateY(-4%);
  }
  .carte:hover:after,
.carte:focus-within:after {
    transform: translateY(-50%);
  }
  .carte:hover .contenaire,
.carte:focus-within .contenaire {
    transform: translateY(0);
  }
  .carte:hover .contenaire > *:not(.title),
.carte:focus-within .contenaire > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .carte:focus-within:before, .carte:focus-within:after,
.carte:focus-within .conten,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
